body{
    background-color: #adaddb;
    
}

table, td, th {
   
    align-items: center;
    border: 1px solid black;
   
}
div{
    color: #156275;
}

button{
    color: #156275;
    
}
Link{
    text-decoration: none;
}

input{
    border: none;
    height: 1.2rem;
}